@mixin marginCenter {
  width: 75%;
  margin: 0 auto;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin boxShadow {
  box-shadow: 0.3rem 2rem 3.5rem -0.5rem rgba(22, 23, 34, 0.212);
}
